.ide {
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 500px;
  width: 15%;
  padding: 20px;
  background-color: powderblue;
}

.textarea {
  height: 500px;
  width: 85%;
  padding: 20px;
  background-color: orange;
}

.log {
  padding: 10px;
  text-align: center;
  background-color: darkseagreen;
}

.flexRow {
  flex-direction: row;
}

.flexCol {
  flex-direction: column;
}
